<%- partial('_partial/head') %>
<body>

  <div class="layout">
    <div class="layout__sidebars">
      <div class="layout__navigation">

        <div class="navigation">
          <div class="navigation__branding">

            <div class="branding">
              <div class="branding__title">
                <h1 class="branding__siteName">Plastic Habitat</h1>
              </div>
              <a href="#" class="branding__menuToggle js-layout__toggleNavigation">Toggle navigation</a>
            </div><!-- .branding -->

          </div><!-- .navigation__branding -->
          <div class="navigation__menu">
    
              <nav class="menu">
                <p>Navigation a bit longer and longer</p>
              </nav><!-- .menu -->
    
          </div><!-- .navigation__menu -->
        </div><!-- .navigation -->

      </div><!-- .layout__navigation -->
      <aside class="layout__tableOfContents">

        <div class="tableOfContents">
          <p>Contents</p>
        </div>

      </aside><!-- .layout__tableOfContents -->
    </div><!-- .layout__sidebars -->
    <div class="layout__page">

      <div class="page">
        <header class="page__header">

          <div class="search">
            <div class="search__field">
              <p>
                <span class="js-search__toggleSearch">search and logo</span>
                <span class="js-layout__toggleNavigation">M</span>
              </p>
            </div>
            <div class="search__results">
              <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, iure? Totam consequuntur veniam rerum facilis dolores soluta quibusdam debitis, eos ut, deserunt ratione fugit? Repudiandae, assumenda rerum. Ducimus, aliquam eligendi?</p>
              <p>Esse earum inventore, neque expedita exercitationem explicabo quia harum nisi nulla corrupti repudiandae tempora asperiores eligendi blanditiis mollitia odit facere ex vero eius perspiciatis accusantium labore rerum eum cumque! Dicta.</p>
              <p>Rerum, iste fugiat voluptas quos veritatis ipsum, recusandae alias corporis, aperiam asperiores libero voluptates quo dolorum doloremque nostrum consectetur expedita perferendis cumque debitis amet esse? Totam suscipit debitis ut consequatur!</p>
              <p>Officia laboriosam suscipit non eaque quaerat voluptas, provident libero qui, earum voluptatibus praesentium repudiandae veritatis, sint similique assumenda? Alias cupiditate molestiae ut quas. Perferendis excepturi id nisi consequuntur quam laudantium!</p>
              <p>Quae odit odio similique quia facere delectus beatae dolor. Porro illum voluptate nihil et officia accusamus mollitia molestiae quis, rerum, excepturi blanditiis? Quaerat similique voluptatum iste! Animi nulla temporibus delectus.</p>
              <p>Est saepe mollitia blanditiis obcaecati molestiae quaerat voluptatem amet labore id aperiam in quasi delectus dignissimos porro officiis praesentium rerum doloribus at pariatur incidunt, maxime non voluptatum culpa ab. Repellendus.</p>
              <p>Voluptate rerum, eligendi incidunt unde accusantium quisquam ex alias totam perferendis qui, recusandae magnam doloremque eum! Perferendis necessitatibus culpa praesentium mollitia libero, molestias aspernatur fuga ipsum alias quo suscipit! Cum?</p>
              <p>Commodi, quo facere? Quaerat dolorem aliquid animi enim et odit inventore voluptatum molestias consectetur aut? Tenetur corporis dolorem, nam aperiam facilis quae ipsam nisi labore eius animi quasi rerum dolores!</p>
              <p>Iusto vero laborum explicabo aliquid temporibus cum minus possimus neque molestiae eveniet fugit sint ex asperiores voluptatem voluptatibus, sed animi ipsa eaque numquam fugiat repudiandae excepturi id enim eius! Sit?</p>
              <p>Quaerat porro culpa consectetur eius sapiente suscipit, accusantium quis voluptatibus temporibus nulla! Iste veritatis placeat odit esse dolores adipisci deleniti laborum. Doloremque sit explicabo vel reprehenderit velit, aliquam quisquam corrupti.</p>
              <p>Tempore minima, dicta corporis blanditiis maxime esse voluptatum perferendis sit repellendus adipisci harum eaque deserunt rerum minus praesentium. Explicabo nihil accusantium nemo eveniet nesciunt placeat amet non eaque consequuntur natus.</p>
              <p>Enim corrupti, tempore quos similique perspiciatis labore eaque atque numquam delectus fugiat voluptatum fuga! Sit unde excepturi autem nostrum optio earum dolorum iure, officiis perferendis qui provident deleniti necessitatibus deserunt.</p>
              <p>Fugiat nisi consequatur excepturi asperiores iste libero, sed consequuntur repellendus molestiae, quasi modi dignissimos vero aut accusamus doloribus corrupti iusto nemo deserunt. Suscipit quo aperiam cumque harum magnam, sit earum?</p> -->
            </div>
          </div>

        </header>
        <main class="page__content">

          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, iure? Totam consequuntur veniam rerum facilis dolores soluta quibusdam debitis, eos ut, deserunt ratione fugit? Repudiandae, assumenda rerum. Ducimus, aliquam eligendi?</p>
          <p>Esse earum inventore, neque expedita exercitationem explicabo quia harum nisi nulla corrupti repudiandae tempora asperiores eligendi blanditiis mollitia odit facere ex vero eius perspiciatis accusantium labore rerum eum cumque! Dicta.</p>
          <p>Rerum, iste fugiat voluptas quos veritatis ipsum, recusandae alias corporis, aperiam asperiores libero voluptates quo dolorum doloremque nostrum consectetur expedita perferendis cumque debitis amet esse? Totam suscipit debitis ut consequatur!</p>
          <p>Officia laboriosam suscipit non eaque quaerat voluptas, provident libero qui, earum voluptatibus praesentium repudiandae veritatis, sint similique assumenda? Alias cupiditate molestiae ut quas. Perferendis excepturi id nisi consequuntur quam laudantium!</p>
          <p>Quae odit odio similique quia facere delectus beatae dolor. Porro illum voluptate nihil et officia accusamus mollitia molestiae quis, rerum, excepturi blanditiis? Quaerat similique voluptatum iste! Animi nulla temporibus delectus.</p>
          <p>Est saepe mollitia blanditiis obcaecati molestiae quaerat voluptatem amet labore id aperiam in quasi delectus dignissimos porro officiis praesentium rerum doloribus at pariatur incidunt, maxime non voluptatum culpa ab. Repellendus.</p>
          <p>Voluptate rerum, eligendi incidunt unde accusantium quisquam ex alias totam perferendis qui, recusandae magnam doloremque eum! Perferendis necessitatibus culpa praesentium mollitia libero, molestias aspernatur fuga ipsum alias quo suscipit! Cum?</p>
          <p>Commodi, quo facere? Quaerat dolorem aliquid animi enim et odit inventore voluptatum molestias consectetur aut? Tenetur corporis dolorem, nam aperiam facilis quae ipsam nisi labore eius animi quasi rerum dolores!</p>
          <p>Iusto vero laborum explicabo aliquid temporibus cum minus possimus neque molestiae eveniet fugit sint ex asperiores voluptatem voluptatibus, sed animi ipsa eaque numquam fugiat repudiandae excepturi id enim eius! Sit?</p>
          <p>Quaerat porro culpa consectetur eius sapiente suscipit, accusantium quis voluptatibus temporibus nulla! Iste veritatis placeat odit esse dolores adipisci deleniti laborum. Doloremque sit explicabo vel reprehenderit velit, aliquam quisquam corrupti.</p>
          <p>Tempore minima, dicta corporis blanditiis maxime esse voluptatum perferendis sit repellendus adipisci harum eaque deserunt rerum minus praesentium. Explicabo nihil accusantium nemo eveniet nesciunt placeat amet non eaque consequuntur natus.</p>
          <p>Enim corrupti, tempore quos similique perspiciatis labore eaque atque numquam delectus fugiat voluptatum fuga! Sit unde excepturi autem nostrum optio earum dolorum iure, officiis perferendis qui provident deleniti necessitatibus deserunt.</p>
          <p>Fugiat nisi consequatur excepturi asperiores iste libero, sed consequuntur repellendus molestiae, quasi modi dignissimos vero aut accusamus doloribus corrupti iusto nemo deserunt. Suscipit quo aperiam cumque harum magnam, sit earum?</p>
          <p>Cumque repellendus aut incidunt, rerum consequatur nesciunt? Perferendis quos quod magnam dolor sapiente. Quidem accusamus mollitia quisquam fugiat quia suscipit deleniti, porro voluptate ad aut nostrum doloribus in consectetur provident?</p>
          <p>Temporibus hic enim, aperiam, quisquam cum suscipit quo esse necessitatibus corporis debitis, voluptatum perferendis. Reiciendis obcaecati quas asperiores laborum tempore cum officia perferendis, rerum quasi vero veniam repellendus, nam similique?</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, iure? Totam consequuntur veniam rerum facilis dolores soluta quibusdam debitis, eos ut, deserunt ratione fugit? Repudiandae, assumenda rerum. Ducimus, aliquam eligendi?</p>
          <p>Esse earum inventore, neque expedita exercitationem explicabo quia harum nisi nulla corrupti repudiandae tempora asperiores eligendi blanditiis mollitia odit facere ex vero eius perspiciatis accusantium labore rerum eum cumque! Dicta.</p>
          <p>Rerum, iste fugiat voluptas quos veritatis ipsum, recusandae alias corporis, aperiam asperiores libero voluptates quo dolorum doloremque nostrum consectetur expedita perferendis cumque debitis amet esse? Totam suscipit debitis ut consequatur!</p>
          <p>Officia laboriosam suscipit non eaque quaerat voluptas, provident libero qui, earum voluptatibus praesentium repudiandae veritatis, sint similique assumenda? Alias cupiditate molestiae ut quas. Perferendis excepturi id nisi consequuntur quam laudantium!</p>
          <p>Quae odit odio similique quia facere delectus beatae dolor. Porro illum voluptate nihil et officia accusamus mollitia molestiae quis, rerum, excepturi blanditiis? Quaerat similique voluptatum iste! Animi nulla temporibus delectus.</p>
          <p>Est saepe mollitia blanditiis obcaecati molestiae quaerat voluptatem amet labore id aperiam in quasi delectus dignissimos porro officiis praesentium rerum doloribus at pariatur incidunt, maxime non voluptatum culpa ab. Repellendus.</p>
          <p>Voluptate rerum, eligendi incidunt unde accusantium quisquam ex alias totam perferendis qui, recusandae magnam doloremque eum! Perferendis necessitatibus culpa praesentium mollitia libero, molestias aspernatur fuga ipsum alias quo suscipit! Cum?</p>
          <p>Commodi, quo facere? Quaerat dolorem aliquid animi enim et odit inventore voluptatum molestias consectetur aut? Tenetur corporis dolorem, nam aperiam facilis quae ipsam nisi labore eius animi quasi rerum dolores!</p>
          <p>Iusto vero laborum explicabo aliquid temporibus cum minus possimus neque molestiae eveniet fugit sint ex asperiores voluptatem voluptatibus, sed animi ipsa eaque numquam fugiat repudiandae excepturi id enim eius! Sit?</p>
          <p>Quaerat porro culpa consectetur eius sapiente suscipit, accusantium quis voluptatibus temporibus nulla! Iste veritatis placeat odit esse dolores adipisci deleniti laborum. Doloremque sit explicabo vel reprehenderit velit, aliquam quisquam corrupti.</p>
          <p>Tempore minima, dicta corporis blanditiis maxime esse voluptatum perferendis sit repellendus adipisci harum eaque deserunt rerum minus praesentium. Explicabo nihil accusantium nemo eveniet nesciunt placeat amet non eaque consequuntur natus.</p>
          <p>Enim corrupti, tempore quos similique perspiciatis labore eaque atque numquam delectus fugiat voluptatum fuga! Sit unde excepturi autem nostrum optio earum dolorum iure, officiis perferendis qui provident deleniti necessitatibus deserunt.</p>
          <p>Fugiat nisi consequatur excepturi asperiores iste libero, sed consequuntur repellendus molestiae, quasi modi dignissimos vero aut accusamus doloribus corrupti iusto nemo deserunt. Suscipit quo aperiam cumque harum magnam, sit earum?</p>
          <p>Cumque repellendus aut incidunt, rerum consequatur nesciunt? Perferendis quos quod magnam dolor sapiente. Quidem accusamus mollitia quisquam fugiat quia suscipit deleniti, porro voluptate ad aut nostrum doloribus in consectetur provident?</p>
          <p>Temporibus hic enim, aperiam, quisquam cum suscipit quo esse necessitatibus corporis debitis, voluptatum perferendis. Reiciendis obcaecati quas asperiores laborum tempore cum officia perferendis, rerum quasi vero veniam repellendus, nam similique?</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, iure? Totam consequuntur veniam rerum facilis dolores soluta quibusdam debitis, eos ut, deserunt ratione fugit? Repudiandae, assumenda rerum. Ducimus, aliquam eligendi?</p>
          <p>Esse earum inventore, neque expedita exercitationem explicabo quia harum nisi nulla corrupti repudiandae tempora asperiores eligendi blanditiis mollitia odit facere ex vero eius perspiciatis accusantium labore rerum eum cumque! Dicta.</p>
          <p>Rerum, iste fugiat voluptas quos veritatis ipsum, recusandae alias corporis, aperiam asperiores libero voluptates quo dolorum doloremque nostrum consectetur expedita perferendis cumque debitis amet esse? Totam suscipit debitis ut consequatur!</p>
          <p>Officia laboriosam suscipit non eaque quaerat voluptas, provident libero qui, earum voluptatibus praesentium repudiandae veritatis, sint similique assumenda? Alias cupiditate molestiae ut quas. Perferendis excepturi id nisi consequuntur quam laudantium!</p>
          <p>Quae odit odio similique quia facere delectus beatae dolor. Porro illum voluptate nihil et officia accusamus mollitia molestiae quis, rerum, excepturi blanditiis? Quaerat similique voluptatum iste! Animi nulla temporibus delectus.</p>
          <p>Est saepe mollitia blanditiis obcaecati molestiae quaerat voluptatem amet labore id aperiam in quasi delectus dignissimos porro officiis praesentium rerum doloribus at pariatur incidunt, maxime non voluptatum culpa ab. Repellendus.</p>
          <p>Voluptate rerum, eligendi incidunt unde accusantium quisquam ex alias totam perferendis qui, recusandae magnam doloremque eum! Perferendis necessitatibus culpa praesentium mollitia libero, molestias aspernatur fuga ipsum alias quo suscipit! Cum?</p>
          <p>Commodi, quo facere? Quaerat dolorem aliquid animi enim et odit inventore voluptatum molestias consectetur aut? Tenetur corporis dolorem, nam aperiam facilis quae ipsam nisi labore eius animi quasi rerum dolores!</p>
          <p>Iusto vero laborum explicabo aliquid temporibus cum minus possimus neque molestiae eveniet fugit sint ex asperiores voluptatem voluptatibus, sed animi ipsa eaque numquam fugiat repudiandae excepturi id enim eius! Sit?</p>
          <p>Quaerat porro culpa consectetur eius sapiente suscipit, accusantium quis voluptatibus temporibus nulla! Iste veritatis placeat odit esse dolores adipisci deleniti laborum. Doloremque sit explicabo vel reprehenderit velit, aliquam quisquam corrupti.</p>
          <p>Tempore minima, dicta corporis blanditiis maxime esse voluptatum perferendis sit repellendus adipisci harum eaque deserunt rerum minus praesentium. Explicabo nihil accusantium nemo eveniet nesciunt placeat amet non eaque consequuntur natus.</p>
          <p>Enim corrupti, tempore quos similique perspiciatis labore eaque atque numquam delectus fugiat voluptatum fuga! Sit unde excepturi autem nostrum optio earum dolorum iure, officiis perferendis qui provident deleniti necessitatibus deserunt.</p>
          <p>Fugiat nisi consequatur excepturi asperiores iste libero, sed consequuntur repellendus molestiae, quasi modi dignissimos vero aut accusamus doloribus corrupti iusto nemo deserunt. Suscipit quo aperiam cumque harum magnam, sit earum?</p>
          <p>Cumque repellendus aut incidunt, rerum consequatur nesciunt? Perferendis quos quod magnam dolor sapiente. Quidem accusamus mollitia quisquam fugiat quia suscipit deleniti, porro voluptate ad aut nostrum doloribus in consectetur provident?</p>
          <p>Temporibus hic enim, aperiam, quisquam cum suscipit quo esse necessitatibus corporis debitis, voluptatum perferendis. Reiciendis obcaecati quas asperiores laborum tempore cum officia perferendis, rerum quasi vero veniam repellendus, nam similique?</p>

        </main>
        <footer class="page__footer">

          <p>Page footer</p>

        </footer>
      </div><!-- .page -->

    </div><!-- .layout__page -->
  </div><!-- .layout -->

<!-- 

  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <div class="outer">
        <section id="main"><%- body %></section>
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div> -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="/js/script.js"></script>

</body>
</html>
